<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1></h1>

<form>
    <h1>Detalles </h1>




            <h4>El genero de la cancion es: <%= generoCancion.Name %></h4>



    </table>
    <a href="/<%=detallesCancion.AlbumId%>"><input type="button" value="Volver"></a>

</form>
</body>
</html>
